In [1]:
import pandas as pd
import numpy as np
from database import engine_maker
import os
from dotenv import load_dotenv

In [2]:
data = pd.read_excel('../data/Online Retail.xlsx')

In [9]:
data.head()
data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [7]:
data.isnull().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [4]:
data2 = pd.read_csv('../data/MOCK_DATA.csv')
data2.head()

,customer_id,first_name,last_name,email,gender
0,15198,Hastings,Boynton,hboynton0@myspace.com,Male
1,15214,Ethel,Ceely,eceely1@usda.gov,Genderfluid
2,13837,John,Hayles,jhayles2@networksolutions.com,Male
3,12623,Shawna,Blint,sblint3@domainmarket.com,Female
4,16010,Donetta,Yeowell,dyeowell4@nih.gov,Female

In [5]:
load_dotenv()
engine = engine_maker(os.getenv('BRONZE_USER'),os.getenv('BRONZE_PASSWORD'),os.getenv('BRONZE_PORT'),os.getenv('BRONZE_DB'))

In [7]:
data.to_sql('sales',engine)
data2.to_sql('customers',engine)

1000