In [1]:
import pandas as pd
import numpy as np
from database import engine_maker
import os
from dotenv import load_dotenv

In [2]:
data = pd.read_excel('../data/Online Retail.xlsx')

In [3]:
data.head()
data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [9]:
data.isnull().any()
data['CustomerID'].sort_values(ascending=False)

392748    18287.0
392749    18287.0
392744    18287.0
392745    18287.0
392746    18287.0
           ...
541536        NaN
541537        NaN
541538        NaN
541539        NaN
541540        NaN
Name: CustomerID, Length: 541909, dtype: float64

In [10]:
data2 = pd.read_csv('../data/MOCK_DATA.csv')
data2.head()

   customer_id first_name   last_name                     email       gender
0        14025   Herschel      Kelsow  hkelsow0@nydailynews.com  Genderfluid
1        12858     Cedric      Davern       cdavern1@elpais.com         Male
2        13222     Steven  Brookfield  sbrookfield2@comcast.net         Male
3        14562    Reynard    Yarmouth      ryarmouth3@alexa.com         Male
4        16774     Wileen    Bleakley        wbleakley4@loc.gov       Female

In [12]:
load_dotenv()
engine = engine_maker(os.getenv('BRONZE_USER'),os.getenv('BRONZE_PASSWORD'),os.getenv('BRONZE_PORT'),os.getenv('BRONZE_DB'))

In [13]:
data.to_sql('sales',engine)
data2.to_sql('customers',engine)

1000